__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
*.img
*.bin
*.apk
*.state
*.log
.env
.venv/
venv/
*.msi
*.exe
*.dll
backup_*/
*.7z
*.zip
.idea/
.vscode/
*.swp
*.swo
*~
bootanim/
dedsec_anim/
wd2_anim/
wd2_full/
wd2_full2/
wd2_jpg/
logo_frames/
*.bin
build/
dist/
__pycache__/
hosts_block.txt
hosts_final.txt
